@model CayCanhOnline.Models.ABOUT

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center" class="mt-5 ">GIỚI THIỆU CỬA HÀNG</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tiêu đề:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TieuDe)
        </dd>

        <dt>
            Nội dung:
        </dt>

        <dd>
            @Html.Raw(Model.MoTa.ToString().Replace("\n", "<p></p>&nbsp&nbsp&nbsp"))
        </dd>

        <dt>
            Ngày cập nhật
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayCapNhat)
        </dd>

        

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.id })
</p>
