
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container text-center" style="height:400px">
    <h2 class="mt-4">QUẢN TRỊ CÂY CẢNH GREENLIFE</h2>
</div>


